{% extends 'layoutAdmin.html' %}
{% block body %}

{% block css %}
<style>

.form-signin {
  width: 100%;
  max-width: 630px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
</style>
{% endblock %}


<form class="form-signin" action='/accounts/admin_dashboard/add_offers/{{product.id}}' method='POST' enctype="multipart/form-data">
    {% csrf_token %}

    <h3 class="h5 font-weight-normal">Add Offers for {{product.name}}</h3>
    <input type="text" id="discount" class="form-control m-3" placeholder="Discount" name='discount' required autofocus>

    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Add</button>
  </form>


{% endblock %}